#page-body {
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

#center-div {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50vh;
    background-color: #46171F;
}