<!-- footer.component.html -->
<div class="footer-container">
    <div class="footer-content">
        <img _ngcontent-ng-c3097153200="" src="assets/images/logo.png" alt="Logo" class="logo">
        <p>
            Creating extraordinary travel experiences through personalized service, premium accommodations, and
            unforgettable adventures around the globe.<br>
        </p>
        <div class="copyright">
            © {{ currentYear }} TravelRo. Crafted with passion for extraordinary journeys.
        </div>
    </div>
</div>