.component-body {
    position: relative;
    padding: 0px;
    margin: 0px;
}

.guests-dropdown {
    display: inline;
    position: absolute;
    width: 15vw;
    height: 30vh;
    background-color: white;
    right: 0;
    border-radius: 50px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.70);
}

.guests-list {
    position: relative;
    list-style-type: none;
}

.guests-list li {
    display: flex;
}

.guests-list li p{
    position: absolute;
    width: 40px;
    left: 40px;
}

.guests-list li input{
    position: absolute;
    width: 40px;
    right: 40px;
}